<div id="top">
<!-- <div style="background-image: url(https://www.emtmadrid.es/getattachment/da3be644-cb9d-44db-8011-e3f40f1c5c34); opacity: 0.2"/> -->
<img src="https://www.gmv.com/sites/default/files/content/image/2021/11/03/115/gmv_rgbredblack.png" alt="GMV Logo" style="width: 200px">
<img src="https://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/CEI/LOGOTIPO%20leyenda%20color%20JPG%20p.png" alt="UPM Logo" style="float: right; width: 200px">
<h1><b>EDA: AEMET dataset üå•Ô∏è</b></h1>
<h5 style="text-align: right">INESDATA-MOV</h5>
</div>

# An√°lisis EDA:COMPLETAR

In [1]:
import requests

url_madrid = (
    "https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/horaria/28079"
)

headers = {
    "api_key": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwYXRyaWNpYS5oZXJuYW5kby5zYW5jaGV6QGdtdi5jb20iLCJqdGkiOiIyMjU1YjM3MC0zZDVkLTQ3YWUtODY3Mi1lZmI0YTRhNWJlMzAiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcxMjczNTA0MSwidXNlcklkIjoiMjI1NWIzNzAtM2Q1ZC00N2FlLTg2NzItZWZiNGE0YTViZTMwIiwicm9sZSI6IiJ9.oG4Gc12WjFVRhGuh0oQWkOP6iOsXp8xKKeLd-LhtDJA",
    "Content-Type": "application/json",
    "Accept": "application/json",
}

r = requests.get(url_madrid, headers=headers)
r_json = requests.get(r.json()["datos"]).json()

In [2]:
r_json

[{'origen': {'productor': 'Agencia Estatal de Meteorolog√≠a - AEMET. Gobierno de Espa√±a',
   'web': 'https://www.aemet.es',
   'enlace': 'https://www.aemet.es/es/eltiempo/prediccion/municipios/horas/madrid-id28079',
   'language': 'es',
   'copyright': '¬© AEMET. Autorizado el uso de la informaci√≥n y su reproducci√≥n citando a AEMET como autora de la misma.',
   'notaLegal': 'https://www.aemet.es/es/nota_legal'},
  'elaborado': '2024-04-12T09:00:13',
  'nombre': 'Madrid',
  'provincia': 'Madrid',
  'prediccion': {'dia': [{'estadoCielo': [{'value': '11',
       'periodo': '08',
       'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '09', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '10', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '11', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '12', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '13', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '14', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '15', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '16', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '17', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '18', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '19', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '20', 'descripcion': 'Despejado'},
      {'value': '11n', 'periodo': '21', 'descripcion': 'Despejado'},
      {'value': '11n', 'periodo': '22', 'descripcion': 'Despejado'},
      {'value': '11n', 'periodo': '23', 'descripcion': 'Despejado'}],
     'precipitacion': [{'value': '0', 'periodo': '08'},
      {'value': '0', 'periodo': '09'},
      {'value': '0', 'periodo': '10'},
      {'value': '0', 'periodo': '11'},
      {'value': '0', 'periodo': '12'},
      {'value': '0', 'periodo': '13'},
      {'value': '0', 'periodo': '14'},
      {'value': '0', 'periodo': '15'},
      {'value': '0', 'periodo': '16'},
      {'value': '0', 'periodo': '17'},
      {'value': '0', 'periodo': '18'},
      {'value': '0', 'periodo': '19'},
      {'value': '0', 'periodo': '20'},
      {'value': '0', 'periodo': '21'},
      {'value': '0', 'periodo': '22'},
      {'value': '0', 'periodo': '23'}],
     'probPrecipitacion': [{'value': '0', 'periodo': '0814'},
      {'value': '0', 'periodo': '1420'},
      {'value': '0', 'periodo': '2002'}],
     'probTormenta': [{'value': '0', 'periodo': '0814'},
      {'value': '0', 'periodo': '1420'},
      {'value': '0', 'periodo': '2002'}],
     'nieve': [{'value': '0', 'periodo': '08'},
      {'value': '0', 'periodo': '09'},
      {'value': '0', 'periodo': '10'},
      {'value': '0', 'periodo': '11'},
      {'value': '0', 'periodo': '12'},
      {'value': '0', 'periodo': '13'},
      {'value': '0', 'periodo': '14'},
      {'value': '0', 'periodo': '15'},
      {'value': '0', 'periodo': '16'},
      {'value': '0', 'periodo': '17'},
      {'value': '0', 'periodo': '18'},
      {'value': '0', 'periodo': '19'},
      {'value': '0', 'periodo': '20'},
      {'value': '0', 'periodo': '21'},
      {'value': '0', 'periodo': '22'},
      {'value': '0', 'periodo': '23'}],
     'probNieve': [{'value': '0', 'periodo': '0814'},
      {'value': '0', 'periodo': '1420'},
      {'value': '0', 'periodo': '2002'}],
     'temperatura': [{'value': '13', 'periodo': '09'},
      {'value': '15', 'periodo': '10'},
      {'value': '16', 'periodo': '11'},
      {'value': '18', 'periodo': '12'},
      {'value': '19', 'periodo': '13'},
      {'value': '21', 'periodo': '14'},
      {'value': '22', 'periodo': '15'},
      {'value': '24', 'periodo': '16'},
      {'value': '25', 'periodo': '17'},
      {'value': '24', 'periodo': '18'},
      {'value': '24', 'periodo': '19'},
      {'value': '23', 'periodo': '20'},
      {'value': '22', 'periodo': '21'},
      {'value': '20', 'periodo': '22'},
      {'value': '19', 'periodo': '23'}],
     'sensTermica': [{'value': '13', 'periodo': '09'},
      {'value': '15', 'periodo': '10'},
      {'value': '16', 'periodo': '11'},
      {'value': '18', 'periodo': '12'},
      {'value': '19', 'periodo': '13'},
      {'value': '21', 'periodo': '14'},
      {'value': '22', 'periodo': '15'},
      {'value': '24', 'periodo': '16'},
      {'value': '25', 'periodo': '17'},
      {'value': '24', 'periodo': '18'},
      {'value': '24', 'periodo': '19'},
      {'value': '23', 'periodo': '20'},
      {'value': '22', 'periodo': '21'},
      {'value': '20', 'periodo': '22'},
      {'value': '19', 'periodo': '23'}],
     'humedadRelativa': [{'value': '56', 'periodo': '09'},
      {'value': '42', 'periodo': '10'},
      {'value': '38', 'periodo': '11'},
      {'value': '36', 'periodo': '12'},
      {'value': '35', 'periodo': '13'},
      {'value': '32', 'periodo': '14'},
      {'value': '30', 'periodo': '15'},
      {'value': '27', 'periodo': '16'},
      {'value': '25', 'periodo': '17'},
      {'value': '25', 'periodo': '18'},
      {'value': '25', 'periodo': '19'},
      {'value': '28', 'periodo': '20'},
      {'value': '32', 'periodo': '21'},
      {'value': '37', 'periodo': '22'},
      {'value': '38', 'periodo': '23'}],
     'vientoAndRachaMax': [{'direccion': ['NE'],
       'velocidad': ['4'],
       'periodo': '09'},
      {'value': '8', 'periodo': '09'},
      {'direccion': ['SE'], 'velocidad': ['3'], 'periodo': '10'},
      {'value': '15', 'periodo': '10'},
      {'direccion': ['S'], 'velocidad': ['7'], 'periodo': '11'},
      {'value': '19', 'periodo': '11'},
      {'direccion': ['S'], 'velocidad': ['8'], 'periodo': '12'},
      {'value': '18', 'periodo': '12'},
      {'direccion': ['S'], 'velocidad': ['7'], 'periodo': '13'},
      {'value': '18', 'periodo': '13'},
      {'direccion': ['S'], 'velocidad': ['7'], 'periodo': '14'},
      {'value': '20', 'periodo': '14'},
      {'direccion': ['S'], 'velocidad': ['8'], 'periodo': '15'},
      {'value': '19', 'periodo': '15'},
      {'direccion': ['S'], 'velocidad': ['7'], 'periodo': '16'},
      {'value': '20', 'periodo': '16'},
      {'direccion': ['S'], 'velocidad': ['8'], 'periodo': '17'},
      {'value': '18', 'periodo': '17'},
      {'direccion': ['SE'], 'velocidad': ['7'], 'periodo': '18'},
      {'value': '15', 'periodo': '18'},
      {'direccion': ['E'], 'velocidad': ['6'], 'periodo': '19'},
      {'value': '12', 'periodo': '19'},
      {'direccion': ['E'], 'velocidad': ['5'], 'periodo': '20'},
      {'value': '11', 'periodo': '20'},
      {'direccion': ['S'], 'velocidad': ['8'], 'periodo': '21'},
      {'value': '6', 'periodo': '21'},
      {'direccion': ['SO'], 'velocidad': ['4'], 'periodo': '22'},
      {'value': '6', 'periodo': '22'},
      {'direccion': ['NO'], 'velocidad': ['3'], 'periodo': '23'},
      {'value': '3', 'periodo': '23'}],
     'fecha': '2024-04-12T00:00:00',
     'orto': '07:40',
     'ocaso': '20:51'},
    {'estadoCielo': [{'value': '11n',
       'periodo': '00',
       'descripcion': 'Despejado'},
      {'value': '12n', 'periodo': '01', 'descripcion': 'Poco nuboso'},
      {'value': '12n', 'periodo': '02', 'descripcion': 'Poco nuboso'},
      {'value': '17n', 'periodo': '03', 'descripcion': 'Nubes altas'},
      {'value': '12n', 'periodo': '04', 'descripcion': 'Poco nuboso'},
      {'value': '11n', 'periodo': '05', 'descripcion': 'Despejado'},
      {'value': '11n', 'periodo': '06', 'descripcion': 'Despejado'},
      {'value': '11n', 'periodo': '07', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '08', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '09', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '10', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '11', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '12', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '13', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '14', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '15', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '16', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '17', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '18', 'descripcion': 'Despejado'},
      {'value': '11', 'periodo': '19', 'descripcion': 'Despejado'},
      {'value': '17', 'periodo': '20', 'descripcion': 'Nubes altas'},
      {'value': '17n', 'periodo': '21', 'descripcion': 'Nubes altas'},
      {'value': '17n', 'periodo': '22', 'descripcion': 'Nubes altas'},
      {'value': '11n', 'periodo': '23', 'descripcion': 'Despejado'}],
     'precipitacion': [{'value': '0', 'periodo': '00'},
      {'value': '0', 'periodo': '01'},
      {'value': '0', 'periodo': '02'},
      {'value': '0', 'periodo': '03'},
      {'value': '0', 'periodo': '04'},
      {'value': '0', 'periodo': '05'},
      {'value': '0', 'periodo': '06'},
      {'value': '0', 'periodo': '07'},
      {'value': '0', 'periodo': '08'},
      {'value': '0', 'periodo': '09'},
      {'value': '0', 'periodo': '10'},
      {'value': '0', 'periodo': '11'},
      {'value': '0', 'periodo': '12'},
      {'value': '0', 'periodo': '13'},
      {'value': '0', 'periodo': '14'},
      {'value': '0', 'periodo': '15'},
      {'value': '0', 'periodo': '16'},
      {'value': '0', 'periodo': '17'},
      {'value': '0', 'periodo': '18'},
      {'value': '0', 'periodo': '19'},
      {'value': '0', 'periodo': '20'},
      {'value': '0', 'periodo': '21'},
      {'value': '0', 'periodo': '22'},
      {'value': '0', 'periodo': '23'}],
     'probPrecipitacion': [{'value': '0', 'periodo': '0208'},
      {'value': '0', 'periodo': '0814'},
      {'value': '0', 'periodo': '1420'},
      {'value': '0', 'periodo': '2002'}],
     'probTormenta': [{'value': '0', 'periodo': '0208'},
      {'value': '0', 'periodo': '0814'},
      {'value': '0', 'periodo': '1420'},
      {'value': '0', 'periodo': '2002'}],
     'nieve': [{'value': '0', 'periodo': '00'},
      {'value': '0', 'periodo': '01'},
      {'value': '0', 'periodo': '02'},
      {'value': '0', 'periodo': '03'},
      {'value': '0', 'periodo': '04'},
      {'value': '0', 'periodo': '05'},
      {'value': '0', 'periodo': '06'},
      {'value': '0', 'periodo': '07'},
      {'value': '0', 'periodo': '08'},
      {'value': '0', 'periodo': '09'},
      {'value': '0', 'periodo': '10'},
      {'value': '0', 'periodo': '11'},
      {'value': '0', 'periodo': '12'},
      {'value': '0', 'periodo': '13'},
      {'value': '0', 'periodo': '14'},
      {'value': '0', 'periodo': '15'},
      {'value': '0', 'periodo': '16'},
      {'value': '0', 'periodo': '17'},
      {'value': '0', 'periodo': '18'},
      {'value': '0', 'periodo': '19'},
      {'value': '0', 'periodo': '20'},
      {'value': '0', 'periodo': '21'},
      {'value': '0', 'periodo': '22'},
      {'value': '0', 'periodo': '23'}],
     'probNieve': [{'value': '0', 'periodo': '0208'},
      {'value': '0', 'periodo': '0814'},
      {'value': '0', 'periodo': '1420'},
      {'value': '0', 'periodo': '2002'}],
     'temperatura': [{'value': '17', 'periodo': '00'},
      {'value': '16', 'periodo': '01'},
      {'value': '16', 'periodo': '02'},
      {'value': '17', 'periodo': '03'},
      {'value': '15', 'periodo': '04'},
      {'value': '12', 'periodo': '05'},
      {'value': '12', 'periodo': '06'},
      {'value': '12', 'periodo': '07'},
      {'value': '11', 'periodo': '08'},
      {'value': '13', 'periodo': '09'},
      {'value': '15', 'periodo': '10'},
      {'value': '18', 'periodo': '11'},
      {'value': '20', 'periodo': '12'},
      {'value': '22', 'periodo': '13'},
      {'value': '24', 'periodo': '14'},
      {'value': '25', 'periodo': '15'},
      {'value': '26', 'periodo': '16'},
      {'value': '27', 'periodo': '17'},
      {'value': '26', 'periodo': '18'},
      {'value': '25', 'periodo': '19'},
      {'value': '25', 'periodo': '20'},
      {'value': '23', 'periodo': '21'},
      {'value': '21', 'periodo': '22'},
      {'value': '20', 'periodo': '23'}],
     'sensTermica': [{'value': '17', 'periodo': '00'},
      {'value': '16', 'periodo': '01'},
      {'value': '16', 'periodo': '02'},
      {'value': '17', 'periodo': '03'},
      {'value': '15', 'periodo': '04'},
      {'value': '12', 'periodo': '05'},
      {'value': '12', 'periodo': '06'},
      {'value': '12', 'periodo': '07'},
      {'value': '11', 'periodo': '08'},
      {'value': '13', 'periodo': '09'},
      {'value': '15', 'periodo': '10'},
      {'value': '18', 'periodo': '11'},
      {'value': '20', 'periodo': '12'},
      {'value': '22', 'periodo': '13'},
      {'value': '24', 'periodo': '14'},
      {'value': '25', 'periodo': '15'},
      {'value': '26', 'periodo': '16'},
      {'value': '27', 'periodo': '17'},
      {'value': '26', 'periodo': '18'},
      {'value': '25', 'periodo': '19'},
      {'value': '25', 'periodo': '20'},
      {'value': '23', 'periodo': '21'},
      {'value': '21', 'periodo': '22'},
      {'value': '20', 'periodo': '23'}],
     'humedadRelativa': [{'value': '44', 'periodo': '00'},
      {'value': '51', 'periodo': '01'},
      {'value': '50', 'periodo': '02'},
      {'value': '49', 'periodo': '03'},
      {'value': '55', 'periodo': '04'},
      {'value': '58', 'periodo': '05'},
      {'value': '73', 'periodo': '06'},
      {'value': '74', 'periodo': '07'},
      {'value': '72', 'periodo': '08'},
      {'value': '56', 'periodo': '09'},
      {'value': '45', 'periodo': '10'},
      {'value': '36', 'periodo': '11'},
      {'value': '31', 'periodo': '12'},
      {'value': '29', 'periodo': '13'},
      {'value': '26', 'periodo': '14'},
      {'value': '23', 'periodo': '15'},
      {'value': '21', 'periodo': '16'},
      {'value': '21', 'periodo': '17'},
      {'value': '21', 'periodo': '18'},
      {'value': '21', 'periodo': '19'},
      {'value': '24', 'periodo': '20'},
      {'value': '32', 'periodo': '21'},
      {'value': '35', 'periodo': '22'},
      {'value': '38', 'periodo': '23'}],
     'vientoAndRachaMax': [{'direccion': ['O'],
       'velocidad': ['2'],
       'periodo': '00'},
      {'value': '3', 'periodo': '00'},
      {'direccion': ['O'], 'velocidad': ['1'], 'periodo': '01'},
      {'value': '8', 'periodo': '01'},
      {'direccion': ['E'], 'velocidad': ['7'], 'periodo': '02'},
      {'value': '13', 'periodo': '02'},
      {'direccion': ['E'], 'velocidad': ['10'], 'periodo': '03'},
      {'value': '11', 'periodo': '03'},
      {'direccion': ['E'], 'velocidad': ['7'], 'periodo': '04'},
      {'value': '8', 'periodo': '04'},
      {'direccion': ['NE'], 'velocidad': ['6'], 'periodo': '05'},
      {'value': '13', 'periodo': '05'},
      {'direccion': ['N'], 'velocidad': ['9'], 'periodo': '06'},
      {'value': '13', 'periodo': '06'},
      {'direccion': ['NE'], 'velocidad': ['9'], 'periodo': '07'},
      {'value': '14', 'periodo': '07'},
      {'direccion': ['NE'], 'velocidad': ['9'], 'periodo': '08'},
      {'value': '17', 'periodo': '08'},
      {'direccion': ['NE'], 'velocidad': ['10'], 'periodo': '09'},
      {'value': '13', 'periodo': '09'},
      {'direccion': ['NE'], 'velocidad': ['7'], 'periodo': '10'},
      {'value': '11', 'periodo': '10'},
      {'direccion': ['E'], 'velocidad': ['4'], 'periodo': '11'},
      {'value': '13', 'periodo': '11'},
      {'direccion': ['E'], 'velocidad': ['4'], 'periodo': '12'},
      {'value': '18', 'periodo': '12'},
      {'direccion': ['E'], 'velocidad': ['7'], 'periodo': '13'},
      {'value': '20', 'periodo': '13'},
      {'direccion': ['E'], 'velocidad': ['8'], 'periodo': '14'},
      {'value': '20', 'periodo': '14'},
      {'direccion': ['E'], 'velocidad': ['7'], 'periodo': '15'},
      {'value': '20', 'periodo': '15'},
      {'direccion': ['SE'], 'velocidad': ['7'], 'periodo': '16'},
      {'value': '20', 'periodo': '16'},
      {'direccion': ['SE'], 'velocidad': ['8'], 'periodo': '17'},
      {'value': '17', 'periodo': '17'},
      {'direccion': ['E'], 'velocidad': ['5'], 'periodo': '18'},
      {'value': '13', 'periodo': '18'},
      {'direccion': ['E'], 'velocidad': ['4'], 'periodo': '19'},
      {'value': '10', 'periodo': '19'},
      {'direccion': ['SE'], 'velocidad': ['3'], 'periodo': '20'},
      {'value': '9', 'periodo': '20'},
      {'direccion': ['S'], 'velocidad': ['5'], 'periodo': '21'},
      {'value': '3', 'periodo': '21'},
      {'direccion': ['S'], 'velocidad': ['2'], 'periodo': '22'},
      {'value': '8', 'periodo': '22'},
      {'direccion': ['NO'], 'velocidad': ['6'], 'periodo': '23'},
      {'value': '8', 'periodo': '23'}],
     'fecha': '2024-04-13T00:00:00',
     'orto': '07:38',
     'ocaso': '20:52'},
    {'estadoCielo': [{'value': '11n',
       'periodo': '00',
       'descripcion': 'Despejado'},
      {'value': '12n', 'periodo': '01', 'descripcion': 'Poco nuboso'},
      {'value': '17n', 'periodo': '02', 'descripcion': 'Nubes altas'},
      {'value': '17n', 'periodo': '03', 'descripcion': 'Nubes altas'},
      {'value': '17n', 'periodo': '04', 'descripcion': 'Nubes altas'},
      {'value': '17n', 'periodo': '05', 'descripcion': 'Nubes altas'},
      {'value': '12n', 'periodo': '06', 'descripcion': 'Poco nuboso'},
      {'value': '11n', 'periodo': '07', 'descripcion': 'Despejado'}],
     'precipitacion': [{'value': '0', 'periodo': '00'},
      {'value': '0', 'periodo': '01'},
      {'value': '0', 'periodo': '02'},
      {'value': '0', 'periodo': '03'},
      {'value': '0', 'periodo': '04'},
      {'value': '0', 'periodo': '05'},
      {'value': '0', 'periodo': '06'},
      {'value': '0', 'periodo': '07'}],
     'probPrecipitacion': [{'value': '0', 'periodo': '0208'}],
     'probTormenta': [{'value': '0', 'periodo': '0208'}],
     'nieve': [{'value': '0', 'periodo': '00'},
      {'value': '0', 'periodo': '01'},
      {'value': '0', 'periodo': '02'},
      {'value': '0', 'periodo': '03'},
      {'value': '0', 'periodo': '04'},
      {'value': '0', 'periodo': '05'},
      {'value': '0', 'periodo': '06'},
      {'value': '0', 'periodo': '07'}],
     'probNieve': [{'value': '0', 'periodo': '0208'}],
     'temperatura': [{'value': '17', 'periodo': '00'},
      {'value': '15', 'periodo': '01'},
      {'value': '15', 'periodo': '02'},
      {'value': '17', 'periodo': '03'},
      {'value': '15', 'periodo': '04'},
      {'value': '13', 'periodo': '05'},
      {'value': '13', 'periodo': '06'},
      {'value': '12', 'periodo': '07'}],
     'sensTermica': [{'value': '17', 'periodo': '00'},
      {'value': '15', 'periodo': '01'},
      {'value': '15', 'periodo': '02'},
      {'value': '17', 'periodo': '03'},
      {'value': '15', 'periodo': '04'},
      {'value': '13', 'periodo': '05'},
      {'value': '13', 'periodo': '06'},
      {'value': '12', 'periodo': '07'}],
     'humedadRelativa': [{'value': '45', 'periodo': '00'},
      {'value': '55', 'periodo': '01'},
      {'value': '59', 'periodo': '02'},
      {'value': '38', 'periodo': '03'},
      {'value': '39', 'periodo': '04'},
      {'value': '43', 'periodo': '05'},
      {'value': '58', 'periodo': '06'},
      {'value': '56', 'periodo': '07'}],
     'vientoAndRachaMax': [{'direccion': ['NO'],
       'velocidad': ['6'],
       'periodo': '00'},
      {'value': '8', 'periodo': '00'},
      {'direccion': ['N'], 'velocidad': ['7'], 'periodo': '01'},
      {'value': '9', 'periodo': '01'},
      {'direccion': ['NE'], 'velocidad': ['7'], 'periodo': '02'},
      {'value': '21', 'periodo': '02'},
      {'direccion': ['S'], 'velocidad': ['12'], 'periodo': '03'},
      {'value': '12', 'periodo': '03'},
      {'direccion': ['S'], 'velocidad': ['7'], 'periodo': '04'},
      {'value': '7', 'periodo': '04'},
      {'direccion': ['NE'], 'velocidad': ['6'], 'periodo': '05'},
      {'value': '16', 'periodo': '05'},
      {'direccion': ['N'], 'velocidad': ['11'], 'periodo': '06'},
      {'value': '17', 'periodo': '06'},
      {'direccion': ['NE'], 'velocidad': ['11'], 'periodo': '07'},
      {'value': '16', 'periodo': '07'}],
     'fecha': '2024-04-14T00:00:00',
     'orto': '07:37',
     'ocaso': '20:53'}]},

In [3]:
%cd ..

/home/pphs/data-generation/docs/notebooks

/home/pphs/data-generation/venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [4]:
import os
import pandas as pd

## Lectura de todos los datos disponibles de AEMET y uni√≥n en un DataFrame

In [5]:
ROOT_PATH = os.path.dirname(os.path.dirname(os.path.abspath(os.getcwd())))
DATA_PATH = os.path.join(ROOT_PATH, "data", "processed")
AEMET_DATA_PATH = os.path.join(DATA_PATH, "aemet")
AEMET_DATA_PATH

'/home/pphs/data-generation/data/processed/aemet'

In [6]:
#####################################################
# Obtain a dataframe with all the AEMET information #
#####################################################

# Set the directory containing CSV files
directory = AEMET_DATA_PATH

# Initialize an empty list to store DataFrames
aemet_data = []

# Walk through all directories and subdirectories
for root, directories, files in os.walk(directory):
    for filename in files:
        if filename.endswith('.csv'):
            # Read each CSV file into a DataFrame and append to the list
            filepath = os.path.join(root, filename)
            aemet_data.append(pd.read_csv(filepath))

# Concatenate all DataFrames in the list into a single DataFrame
aemet_dataset = pd.concat(aemet_data, ignore_index=True)

In [7]:
aemet_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   estadoCielo_value        2624 non-null   object
 1   estadoCielo_descripcion  2624 non-null   object
 2   precipitacion_value      2624 non-null   object
 3   probPrecipitacion_value  224 non-null    float64
 4   probTormenta_value       224 non-null    float64
 5   nieve_value              2624 non-null   object
 6   probNieve_value          224 non-null    float64
 7   temperatura_value        2604 non-null   float64
 8   sensTermica_value        2604 non-null   float64
 9   humedadRelativa_value    2604 non-null   float64
 10  direccion                1302 non-null   object
 11  velocidad                1302 non-null   object
 12  vientoAndRachaMax_value  1302 non-null   float64
 13  datetime                 2848 non-null   object
dtypes: float64(7), object(7)
memory usage: 311.6+ KB

In [8]:
# QA

In [9]:
aemet_dataset["precipitacion_value"].unique()

array(['0', nan, '0.1', '0.6', '6', '0.2', '1', '0.5', '4', '0.9', '0.8',
       '0.7', 'Ip', '0.3', '3', '2', '0.4', 0.0, 0.1, 0.6, 6.0, 0.2, 1.0,
       0.5, 4.0, 0.9, 3.0, 2.0, 0.4, 0.3, 0.7, 0.8], dtype=object)

In [10]:
# El c√≥digo Ip significa precipitaci√≥n inapreciable, es decir, cantidad inferior a 0.1 mm.-> Lo ponemos como 0.

In [11]:
aemet_dataset[aemet_dataset["precipitacion_value"]=="Ip"].head()

,estadoCielo_value,estadoCielo_descripcion,precipitacion_value,probPrecipitacion_value,probTormenta_value,nieve_value,probNieve_value,temperatura_value,sensTermica_value,humedadRelativa_value,direccion,velocidad,vientoAndRachaMax_value,datetime
897,16n,Cubierto,Ip,NaN,NaN,0,NaN,13.0,13.0,76.0,['NE'],['15'],NaN,2024-03-21 06:00:00
898,16n,Cubierto,Ip,NaN,NaN,0,NaN,13.0,13.0,76.0,NaN,NaN,22.0,2024-03-21 06:00:00
1191,16n,Cubierto,Ip,NaN,NaN,0,NaN,7.0,3.0,83.0,NaN,NaN,36.0,2024-03-27 06:00:00
1192,16n,Cubierto,Ip,NaN,NaN,0,NaN,7.0,3.0,83.0,['SO'],['21'],NaN,2024-03-27 06:00:00
1415,13,Intervalos nubosos,Ip,NaN,NaN,0,NaN,8.0,4.0,67.0,['O'],['24'],NaN,2024-03-31 20:00:00

In [12]:
aemet_dataset = aemet_dataset.replace({'precipitacion_value': {"Ip":0.0}, 'nieve_value': {"Ip":0.0}})
aemet_dataset[aemet_dataset["precipitacion_value"]=="Ip"].head()

Empty DataFrame
Columns: [estadoCielo_value, estadoCielo_descripcion, precipitacion_value, probPrecipitacion_value, probTormenta_value, nieve_value, probNieve_value, temperatura_value, sensTermica_value, humedadRelativa_value, direccion, velocidad, vientoAndRachaMax_value, datetime]
Index: []

In [13]:
aemet_dataset = aemet_dataset.astype({'estadoCielo_value': 'str', 'estadoCielo_descripcion':'str',\
                      'precipitacion_value': 'float64', 'probPrecipitacion_value': 'float64',\
                      'probTormenta_value': 'float64', 'nieve_value': 'float64',\
                      'probNieve_value': 'float64', 'temperatura_value': 'float64',\
                      'sensTermica_value': 'float64', 'humedadRelativa_value': 'float64',\
                      'vientoAndRachaMax_value': 'float64'                    
                      })

In [14]:
aemet_dataset.head()

,estadoCielo_value,estadoCielo_descripcion,precipitacion_value,probPrecipitacion_value,probTormenta_value,nieve_value,probNieve_value,temperatura_value,sensTermica_value,humedadRelativa_value,direccion,velocidad,vientoAndRachaMax_value,datetime
0,12n,Poco nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,77.0,['SO'],['16'],NaN,2024-03-02 00:00:00
1,12n,Poco nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,77.0,NaN,NaN,27.0,2024-03-02 00:00:00
2,15n,Muy nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,80.0,['O'],['17'],NaN,2024-03-02 01:00:00
3,15n,Muy nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,80.0,NaN,NaN,27.0,2024-03-02 01:00:00
4,nan,nan,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-02 01:07:00

In [15]:
aemet_dataset.drop_duplicates()[aemet_dataset["datetime"]=="2024-03-02 00:00:00"]

/tmp/ipykernel_11062/1249086161.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  aemet_dataset.drop_duplicates()[aemet_dataset["datetime"]=="2024-03-02 00:00:00"]

,estadoCielo_value,estadoCielo_descripcion,precipitacion_value,probPrecipitacion_value,probTormenta_value,nieve_value,probNieve_value,temperatura_value,sensTermica_value,humedadRelativa_value,direccion,velocidad,vientoAndRachaMax_value,datetime
0,12n,Poco nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,77.0,['SO'],['16'],NaN,2024-03-02 00:00:00
1,12n,Poco nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,77.0,NaN,NaN,27.0,2024-03-02 00:00:00

In [35]:
aemet_dataset = aemet_dataset.drop_duplicates()

In [21]:
import pandas as pd

# Group by columns 'A' and 'B' and merge values in column 'C'
aemet_reduced = aemet_dataset.groupby(["datetime"])[['direccion','velocidad','vientoAndRachaMax_value']].sum()

# merged_df["datetime"] = pd.to_datetime(merged_df["datetime"])
# merged_df

In [29]:
aemet_dataset = aemet_dataset.drop(columns=["direccion", "velocidad", "vientoAndRachaMax_value"])

In [36]:
aemet_dataset.head(2)

,estadoCielo_value,estadoCielo_descripcion,precipitacion_value,probPrecipitacion_value,probTormenta_value,nieve_value,probNieve_value,temperatura_value,sensTermica_value,humedadRelativa_value,datetime
0,12n,Poco nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,77.0,2024-03-02 00:00:00
2,15n,Muy nuboso,0.0,NaN,NaN,0.0,NaN,8.0,5.0,80.0,2024-03-02 01:00:00

In [57]:
a = aemet_dataset.merge(aemet_reduced, how="inner", on= "datetime")

In [58]:
a["datetime"] = pd.to_datetime(a["datetime"])

In [59]:
a["day"] = a["datetime"].dt.day
a["month"] = a["datetime"].dt.month
a["year"] = a["datetime"].dt.year
a["hour"] = a["datetime"].dt.hour
a["minute"] = a["datetime"].dt.minute

In [67]:
a[a["minute"]==0].groupby(["month", "day"])[["estadoCielo_value"]].count()

           estadoCielo_value
month day
3     2                   24
      3                   24
      4                   24
      5                   24
      6                   24
      7                   24
      8                   24
      11                  24
      12                  24
      13                  24
      14                  24
      15                  24
      16                  24
      17                  24
      18                  24
      19                  24
      20                  24
      21                  24
      22                  23
      23                  23
      24                  23
      25                  23
      26                  23
      27                  23
      28                  23
      29                  23
      30                  23
      31                  22

## An√°lisis del dataset

In [ ]:
# ¬øQu√© hay que analizar?
# * Variables a missing
# * Variables constantes
# * Outliers

In [6]:
# Dataset information
aemet_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2848 entries, 0 to 2847
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   estadoCielo_value        2624 non-null   object
 1   estadoCielo_descripcion  2624 non-null   object
 2   precipitacion_value      2624 non-null   object
 3   probPrecipitacion_value  224 non-null    float64
 4   probTormenta_value       224 non-null    float64
 5   nieve_value              2624 non-null   object
 6   probNieve_value          224 non-null    float64
 7   temperatura_value        2604 non-null   float64
 8   sensTermica_value        2604 non-null   float64
 9   humedadRelativa_value    2604 non-null   float64
 10  direccion                1302 non-null   object
 11  velocidad                1302 non-null   object
 12  vientoAndRachaMax_value  1302 non-null   float64
 13  datetime                 2848 non-null   object
dtypes: float64(7), object(7)
memory usage: 311.6+ KB

## QA checks ‚úÖ

## Pasos previos: Fecha y hora en columnas distintas

Para realizar el an√°lisis de la forma m√°s sencilla posible se separar√° la columna *datetime* en dos columnas distintas: *date* and *time*

In [7]:
# Convert the datetime column to pandas datetime format
aemet_dataset['datetime'] = pd.to_datetime(aemet_dataset['datetime'])

# Split the datetime column into separate date and time columns
aemet_dataset['date'] = aemet_dataset['datetime'].dt.date
aemet_dataset['time'] = aemet_dataset['datetime'].dt.time

# Drop the original datetime column if no longer needed
aemet_dataset.drop(columns=['datetime'], inplace=True)

In [8]:
aemet_dataset[["date", "time"]].head(10)

         date      time
0  2024-03-02  00:00:00
1  2024-03-02  00:00:00
2  2024-03-02  01:00:00
3  2024-03-02  01:00:00
4  2024-03-02  01:07:00
5  2024-03-02  02:00:00
6  2024-03-02  02:00:00
7  2024-03-02  03:00:00
8  2024-03-02  03:00:00
9  2024-03-02  04:00:00

In [ ]:
# Hay fechas duplicadas (mismo d√≠a y hora) -> 
# Mirar en la API si ocurre siempre o es un error de carga

### Unicidad

Cada fila del dataset representa la situaci√≥n climatol√≥gica para

In [ ]:
# Variables:
# * estadoCielo_value == estadoCielo_descripcion -> ver si son iguales y dejar solo una
# * precipitation_value <-> probPrecipitation_value <-> probTormenta_value -> Mirar correlaci√≥n
# * nieve_value <-> probNieve_value -> Mirar correlaci√≥n
# * temperatura_value <-> sensTermica_value -> Mirar correlaci√≥n
# * datetime -> separar en d√≠a y horas

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   estadoCielo_value        48 non-null     object
 1   estadoCielo_descripcion  48 non-null     object
 2   precipitacion_value      48 non-null     float64
 3   probPrecipitacion_value  4 non-null      float64
 4   probTormenta_value       4 non-null      float64
 5   nieve_value              48 non-null     float64
 6   probNieve_value          4 non-null      float64
 7   temperatura_value        48 non-null     float64
 8   sensTermica_value        48 non-null     float64
 9   humedadRelativa_value    48 non-null     float64
 10  direccion                24 non-null     object
 11  velocidad                24 non-null     object
 12  vientoAndRachaMax_value  24 non-null     float64
 13  datetime                 52 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(9), object(4)
memory usage: 5.8+ KB

In [24]:
df[["estadoCielo_value", "estadoCielo_descripcion"]].groupby(["estadoCielo_value", "estadoCielo_descripcion"]).count()

Empty DataFrame
Columns: []
Index: [(11, Despejado), (11n, Despejado), (12, Poco nuboso), (12n, Poco nuboso), (17, Nubes altas), (17n, Nubes altas)]

In [25]:
df[df["probPrecipitacion_value"].notnull()]

,estadoCielo_value,estadoCielo_descripcion,precipitacion_value,probPrecipitacion_value,probTormenta_value,nieve_value,probNieve_value,temperatura_value,sensTermica_value,humedadRelativa_value,direccion,velocidad,vientoAndRachaMax_value,datetime
4,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-13 01:07:00
17,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-13 07:13:00
30,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-13 13:19:00
43,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-13 19:01:00