<div id="top">
<!-- <div style="background-image: url(https://www.emtmadrid.es/getattachment/da3be644-cb9d-44db-8011-e3f40f1c5c34); opacity: 0.2"/> -->
<hr>
<img src="https://www.gmv.com/sites/default/files/content/image/2021/11/03/115/gmv_rgbredblack.png" alt="GMV Logo" style="width: 200px">
<img src="https://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/CEI/LOGOTIPO%20leyenda%20color%20JPG%20p.png" alt="UPM Logo" style="float: right; width: 200px">
<h4>INESDATA-MOV</h4>
<h1>QA: EMT dataset</h1>
<h5 style="text-align: right">GMV-SES BDA<br><b>Sprint 3</b></h5>
</div>

Este cuaderno analiza la calidad del dataset proveniente de EMT creado utilizando el paquete de Python `inesdata_mov_datasets`.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

In [2]:
ROOT_PATH = os.path.dirname(os.path.abspath(os.getcwd()))
DATA_PATH = os.path.join(ROOT_PATH, 'data', 'processed')
EMT_DATA_PATH = os.path.join(DATA_PATH, 'emt')
EMT_DATA_PATH

'/home/code/inesdata-mov/data-generation/data/processed/emt'

In [3]:
for w in os.walk(EMT_DATA_PATH):
    print(w)

('/home/code/inesdata-mov/data-generation/data/processed/emt', ['2024'], [])
('/home/code/inesdata-mov/data-generation/data/processed/emt/2024', ['03'], [])
('/home/code/inesdata-mov/data-generation/data/processed/emt/2024/03', ['12', '02', '11'], [])
('/home/code/inesdata-mov/data-generation/data/processed/emt/2024/03/12', [], ['emt_20240312.csv'])
('/home/code/inesdata-mov/data-generation/data/processed/emt/2024/03/02', [], ['emt_20240302.csv'])
('/home/code/inesdata-mov/data-generation/data/processed/emt/2024/03/11', [], ['emt_20240311.csv'])

> **NOTA**: Vamos a analizar la calidad del dataset generado para el día 12 de marzo, que es el más completo.

In [4]:
df = pd.read_csv(os.path.join(EMT_DATA_PATH, '2024', '03', '12', 'emt_20240312.csv'), parse_dates=['date', 'datetime'])
df

,line,stop,isHead,destination,deviation,bus,estimateArrive,DistanceBus,positionTypeBus,datetime,date,positionBusLon,positionBusLat,dayType,StartTime,StopTime,MinimunFrequency,MaximumFrequency,strike
0,27,54,False,PLAZA CASTILLA,0,517,394,1617,0,2024-03-12 07:58:57.264347,2024-03-12,-3.690321,40.424226,LA,05:55,23:30,3.0,12.0,N
1,27,54,False,PLAZA CASTILLA,0,537,124,564,0,2024-03-12 07:58:57.264347,2024-03-12,-3.689487,40.437052,LA,05:55,23:30,3.0,12.0,N
2,150,54,False,VIRGEN CORTIJO,0,2556,605,2461,0,2024-03-12 07:58:57.264347,2024-03-12,-3.691950,40.420574,NaN,NaN,NaN,NaN,NaN,NaN
3,150,54,False,VIRGEN CORTIJO,0,2558,37,61,0,2024-03-12 07:58:57.264347,2024-03-12,-3.690322,40.438481,NaN,NaN,NaN,NaN,NaN,NaN
4,14,54,False,PIO XII,0,5572,495,1900,0,2024-03-12 07:58:57.264347,2024-03-12,-3.689977,40.425010,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144870,133,1615,False,CALLAO,0,4702,803,3080,0,2024-03-12 09:56:36.142168,2024-03-12,-3.706104,40.492207,NaN,NaN,NaN,NaN,NaN,NaN
144871,124,1615,False,LACOMA,0,5554,198,784,0,2024-03-12 09:56:36.142168,2024-03-12,-3.701336,40.487233,NaN,NaN,NaN,NaN,NaN,NaN
144872,124,1615,False,LACOMA,0,5555,689,2965,0,2024-03-12 09:56:36.142168,2024-03-12,-3.685187,40.488671,NaN,NaN,NaN,NaN,NaN,NaN
144873,67,1615,False,BARRIO PEÑAGRANDE,0,5566,248,1096,0,2024-03-12 09:56:36.142168,2024-03-12,-3.700158,40.484840,LA,06:00,23:45,9.0,30.0,N
144874,67,1615,False,BARRIO PEÑAGRANDE,0,5567,1113,4988,0,2024-03-12 09:56:36.142168,2024-03-12,-3.688602,40.469525,LA,06:00,23:45,9.0,30.0,N

## Reordenar cols

In [5]:
df = df[[
    'date', 'datetime', 'line', 'stop', 'bus', 
    'positionBusLon', 'positionBusLat', 'positionTypeBus', 'DistanceBus', 'destination', 'deviation', 
    'StartTime', 'StopTime', 'MinimunFrequency', 'MaximumFrequency', 'isHead',
    'dayType', 'strike', 'estimateArrive'
]].sort_values(['date', 'datetime', 'line', 'stop', 'bus'])
df

,date,datetime,line,stop,bus,positionBusLon,positionBusLat,positionTypeBus,DistanceBus,destination,deviation,StartTime,StopTime,MinimunFrequency,MaximumFrequency,isHead,dayType,strike,estimateArrive
4,2024-03-12,2024-03-12 07:58:57.264347,14,54,5572,-3.689977,40.425010,0,1900,PIO XII,0,NaN,NaN,NaN,NaN,False,NaN,NaN,495
5,2024-03-12,2024-03-12 07:58:57.264347,14,54,5578,-3.688998,40.429101,0,1373,PIO XII,0,NaN,NaN,NaN,NaN,False,NaN,NaN,378
6,2024-03-12,2024-03-12 07:58:57.264347,147,54,5638,-3.701778,40.428917,0,2293,BARRIO DEL PILAR,0,NaN,NaN,NaN,NaN,False,NaN,NaN,652
7,2024-03-12,2024-03-12 07:58:57.264347,147,54,5644,-3.690119,40.438093,0,336,BARRIO DEL PILAR,0,NaN,NaN,NaN,NaN,False,NaN,NaN,118
2,2024-03-12,2024-03-12 07:58:57.264347,150,54,2556,-3.691950,40.420574,0,2461,VIRGEN CORTIJO,0,NaN,NaN,NaN,NaN,False,NaN,NaN,605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144868,2024-03-12,2024-03-12 09:56:36.142168,127,1615,2337,-3.719757,40.462697,0,3742,CUATRO CAMINOS,0,NaN,NaN,NaN,NaN,False,NaN,NaN,1004
144869,2024-03-12,2024-03-12 09:56:36.142168,133,1615,4692,-3.708155,40.493746,0,1900,CALLAO,0,NaN,NaN,NaN,NaN,False,NaN,NaN,397
144870,2024-03-12,2024-03-12 09:56:36.142168,133,1615,4702,-3.706104,40.492207,0,3080,CALLAO,0,NaN,NaN,NaN,NaN,False,NaN,NaN,803
144873,2024-03-12,2024-03-12 09:56:36.142168,67,1615,5566,-3.700158,40.484840,0,1096,BARRIO PEÑAGRANDE,0,06:00,23:45,9.0,30.0,False,LA,N,248
144874,2024-03-12,2024-03-12 09:56:36.142168,67,1615,5567,-3.688602,40.469525,0,4988,BARRIO PEÑAGRANDE,0,06:00,23:45,9.0,30.0,False,LA,N,1113

En este dataset están todas las líneas, tenemos que filtrar por las de Plaza Castilla.

In [6]:
lines = ['27', '42', '49', '67', '70', '107', '129', '134', '135', '173', '174', '175', '176', '177', '178']

df = df[df['line'].isin(lines)]
df

,date,datetime,line,stop,bus,positionBusLon,positionBusLat,positionTypeBus,DistanceBus,destination,deviation,StartTime,StopTime,MinimunFrequency,MaximumFrequency,isHead,dayType,strike,estimateArrive
0,2024-03-12,2024-03-12 07:58:57.264347,27,54,517,-3.690321,40.424226,0,1617,PLAZA CASTILLA,0,05:55,23:30,3.0,12.0,False,LA,N,394
1,2024-03-12,2024-03-12 07:58:57.264347,27,54,537,-3.689487,40.437052,0,564,PLAZA CASTILLA,0,05:55,23:30,3.0,12.0,False,LA,N,124
12,2024-03-12,2024-03-12 07:58:57.370357,134,1022,2469,-3.708424,40.498820,0,1914,MONTECARMELO,0,06:25,23:45,9.0,26.0,False,LA,N,461
13,2024-03-12,2024-03-12 07:58:57.370357,134,1022,2472,-3.704560,40.481786,0,5905,MONTECARMELO,0,06:25,23:45,9.0,26.0,False,LA,N,1229
14,2024-03-12,2024-03-12 07:58:57.370357,178,1022,2502,-3.700528,40.496409,0,3142,MONTECARMELO,0,06:00,23:45,6.0,22.0,False,LA,N,763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144864,2024-03-12,2024-03-12 09:56:36.139745,49,5329,4736,-3.711952,40.471423,0,1673,PITIS,0,06:10,23:45,4.0,15.0,False,LA,N,548
144865,2024-03-12,2024-03-12 09:56:36.140625,177,5802,9125,-3.695560,40.470752,0,2387,MARQUES DE VIANA,0,06:20,23:30,9.0,24.0,False,LA,N,1600
144866,2024-03-12,2024-03-12 09:56:36.140625,177,5802,9130,-3.688212,40.467565,0,1365,MARQUES DE VIANA,0,06:20,23:30,9.0,24.0,False,LA,N,700
144873,2024-03-12,2024-03-12 09:56:36.142168,67,1615,5566,-3.700158,40.484840,0,1096,BARRIO PEÑAGRANDE,0,06:00,23:45,9.0,30.0,False,LA,N,248
144874,2024-03-12,2024-03-12 09:56:36.142168,67,1615,5567,-3.688602,40.469525,0,4988,BARRIO PEÑAGRANDE,0,06:00,23:45,9.0,30.0,False,LA,N,1113

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76386 entries, 0 to 144874
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              76386 non-null  datetime64[ns]
 1   datetime          76386 non-null  datetime64[ns]
 2   line              76386 non-null  object
 3   stop              76386 non-null  int64
 4   bus               76386 non-null  int64
 5   positionBusLon    76386 non-null  float64
 6   positionBusLat    76386 non-null  float64
 7   positionTypeBus   76386 non-null  int64
 8   DistanceBus       76386 non-null  int64
 9   destination       76386 non-null  object
 10  deviation         76386 non-null  int64
 11  StartTime         76386 non-null  object
 12  StopTime          76386 non-null  object
 13  MinimunFrequency  76386 non-null  float64
 14  MaximumFrequency  76386 non-null  float64
 15  isHead            76386 non-null  bool
 16  dayType           76386 non-null  object
 17  strike            76386 non-null  object
 18  estimateArrive    76386 non-null  int64
dtypes: bool(1), datetime64[ns](2), float64(4), int64(6), object(6)
memory usage: 11.1+ MB

Cada fila del dataset representa el tiempo de espera de un autobus desde una parada A, a una determinada parada B de una cierta línea L, en una fecha y hora concretos.

In [8]:
df.columns

Index(['date', 'datetime', 'line', 'stop', 'bus', 'positionBusLon',
       'positionBusLat', 'positionTypeBus', 'DistanceBus', 'destination',
       'deviation', 'StartTime', 'StopTime', 'MinimunFrequency',
       'MaximumFrequency', 'isHead', 'dayType', 'strike', 'estimateArrive'],
      dtype='object')

In [9]:
df['stop'].nunique()

283

In [10]:
df['line'].nunique()

15

## Missings

In [11]:
df.isna().sum()

date                0
datetime            0
line                0
stop                0
bus                 0
positionBusLon      0
positionBusLat      0
positionTypeBus     0
DistanceBus         0
destination         0
deviation           0
StartTime           0
StopTime            0
MinimunFrequency    0
MaximumFrequency    0
isHead              0
dayType             0
strike              0
estimateArrive      0
dtype: int64

## Dtypes

In [12]:
num_cols = list(df.select_dtypes(include=np.number).columns)
cat_cols = list(df.select_dtypes(include=['object', bool]).columns)
date_cols = list(df.select_dtypes(exclude=[np.number, 'object', bool]).columns)

print(f"Numeric cols: {num_cols}")
print(f"Categoric cols: {cat_cols}")
print(f"Date cols: {date_cols}")

Numeric cols: ['stop', 'bus', 'positionBusLon', 'positionBusLat', 'positionTypeBus', 'DistanceBus', 'deviation', 'MinimunFrequency', 'MaximumFrequency', 'estimateArrive']
Categoric cols: ['line', 'destination', 'StartTime', 'StopTime', 'isHead', 'dayType', 'strike']
Date cols: ['date', 'datetime']